/*--------------------------------------------------------------
# Add all your styles for the Admin area
--------------------------------------------------------------*/
#redux-header .rAds{
  display: none !important;
  opacity: 0;
  z-index: -9;
}

.redux-dev-mode-notice-container.redux-dev-qtip { display: none; }

.redux-messageredux-notice {
  display: none !important;
}
