.comment-respond {
  .comment-reply-title {
    margin-top: 45px;
    margin-bottom: 5px;
    span {

      font-size: 22px;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: 0.02em;
      display: inline-block;
    }
  }
  .comment-form {
    .logged-in-as {
      margin-bottom: 10px;
    }
    .comment-form-comment textarea, .comment-form-author input, .comment-form-email input, .comment-form-url input {
      font-size: 14px;
      line-height: 24px;
      color: #444444;
      width: 100%;
      margin-bottom: 30px;
      padding: 12px 15px;
      border: 1px solid #ececec;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      &:hover, &:focus {
        border-color: #dedede;
      }
    }
    .form-submit {
      margin: 0;
      .submit {
        font-size: 13px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        color: #ffffff;
        background: $primary_color;
        margin: 0;
        padding: 8px 30px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        &:hover, &:focus {
          background: darken($primary_color, 10);
        }
      }
    }
  }
}
