/*-------------------------
*  container
-------------------------*/
.container {
  +.container {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }
}


/*-------------------------
*  format form
-------------------------*/
.form-control {
  border-radius: 0;
  border-color: $primary_color;
  background: transparent;
  padding: 8px 15px;
  height: auto;
  &:focus, &:hover {
    border-color: $primary_color;
    box-shadow: none;
    background: none;
  }
}


/*-------------------------
* flex row visual compusor
--------------------------*/
.zu-row-flex {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  flex-flow: row wrap;
}

.vc_row-flex {
  .wpb_wrapper {
    height: 100%;
  }
}

/*-------------------------
*  Testimonial clients
*--------------------------*/
.zu-grid {
  .zu-grid-item {
    &:hover {
      .item-image {
        &:after {
          -webkit-animation: shine .75s;
          animation: shine .75s;
        }
        img {
          transform: scale(1.2);
        }
      }
    }
    .item-image {
      position: relative;
      // margin-bottom: 15px;
      overflow: hidden;
      &:after {
        // position: absolute;
        // top: 0;
        // left: -75%;
        // z-index: 2;
        // display: block;
        // content: '';
        // width: 50%;
        // height: 100%;
        // background: -webkit-linear-gradient(left, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.5) 100%);
        // background: linear-gradient(to right, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.5) 100%);
        // -webkit-transform: skewX(-25deg);
        // transform: skewX(-25deg);
      }
      img {
        @include transition(.3s);
      }
    }
    .item-title {
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    .item-social {
      padding: 0;
      list-style: none;
      display: flex;
      border-bottom: 1px solid $primary_color;
      padding-bottom: 5px;
      li {
        display: inline-block;
        margin: 5px 6px;
        a {
          color: $primary_color;
          font-size: 20px;
          &:hover {
            color: $secondary_color;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  // .box-banner-home {
  //   height: 500px;
  // }
}

@media ( max-width: 991px ) and ( min-width: 769px ) {
  .zu-grid {
    .zu-grid-item {
      .item-title {
        font-size: 20px;
      }
    }
  }
}

@media ( max-width: 767px ) {
  .zu-grid {
    .zu-grid-item {
      margin-bottom: 15px;
    }
  }
  .zu-btn-wrap.text-right, .zu-btn-wrap.text-left {
    text-align: center !important;
    .zu_btn {
      margin: 5px 0 !important;
    }
  }
  .mb-decoration {
    flex-direction: column;
    .why-item {
      margin-bottom: 15px;
    }
  }
  #footer.footer-wrap #footer-top {
    padding-bottom: 0;
  }
  #footer.footer-wrap .footer-social ul {
    padding: 10px 0 20px;
    justify-content: center;
  }
  .zu-grid .zu-grid-item .box-link-hover .box-item-hover .item-info {
    max-height: 100% !important;
  }
}

@media ( max-width: 640px ) and ( min-width: 576px ) {
  .zu-grid {
    .zu-grid-item {
      .item-title {
        font-size: 20px;
      }
    }
  }
  // .box-banner-home {
  //   height: 400px;
  // }
}

@media ( max-width: 575px ) {
  .zu-grid {
    .zu-grid-item {
      .item-image {
        img {
          width: 100%;
        }
      }
    }
  }
  // .box-banner-home {
  //   height: 300px;
  // }
}

@media ( max-width: 400px ) {
  .zu-grid {
    .zu-grid-item {
      .item-title {
        font-size: 20px;
      }
    }
  }
}

/*-------------------------
*  Tabs
*--------------------------*/
.vc_tta-tabs {
  position: relative;
  background: #d9c8ae;
  color: #fff;
  .vc_tta-tabs-container {
    width: 100%;
    overflow: visible !important;
    display: block !important;
    display: flex;
    display: -webkit-flex;
    .vc_tta-tabs-list {
      padding: 30px 20px 0 20px !important;
      margin: 0 !important;
      overflow: visible !important;
      .vc_tta-tab {
        margin: 0 !important;
        width: 50%;
        padding-bottom: 2px !important;
        a {
          border: none !important;
          border-radius: 0 !important;
          padding: 5px 5px 10px !important;
          border-bottom: 2px solid #fff !important;
          text-align: center;
          font-size: 24px;
          color: #fff !important;
          background: none !important;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            width: 100% !important;
            height: 4px !important;
            background: #fff;
            bottom: -3px;
            left: 0 !important;
            top: auto !important;
            transform: scale(0);
            @include transition(.3s);
          }
          &:hover {
            &:after {
              transform: scale(1);
            }
          }
        }
        &.vc_active {
          a {
            &:after {
              transform: scale(1);
            }
          }
        }
      }
    }
  }
  .vc_tta-panels-container {
    z-index: 5;
    .vc_tta-panels {
      border-radius: 0 !important;
      background: none;
      background: none !important;
      position: relative;
      .vc_tta-panel {
        .vc_tta-panel-heading {
          display: none !important;
        }
        .vc_tta-panel-body {
          color: #fff !important;
          background: none !important;
          overflow: visible !important;
          .wpb_single_image {
            margin-bottom: 0;
          }
          .vc_row {
            display: flex;
            display: -webkit-flex;
            flex-flow: row wrap;
          }
          .zu-btn-wrap {
            display: block;
          }
        }
      }
    }
  }
}

@media ( min-width: 992px ) {
  .vc_tta-tabs {
    &.half-background {
      background: none;
      &:before {
        content: '';
        position: absolute;
        display: block !important;
        width: calc(100% / 12 * 7);
        height: 100%;
        left: 0;
        top: 0;
        background: #d9c8ae;
        border-radius: 0;
      }
      .vc_tta-tabs-container {
        width: calc(100% / 12 * 7);
        .vc_tta-tabs-list {
          padding: 6% 20% 0 8% !important;
        }
      }
      .vc_tta-panels-container {
        .vc_tta-panels {
          .vc_tta-panel {
            .vc_tta-panel-body {
              min-height: 300px;
              .vc_row {
                align-items: center;
                .wpb_column {
                  +.wpb_column {
                    position: absolute;
                    height: 100%;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-60%);
                  }
                }
              }
              .vc_wp_text {
                padding: 4% 4% 0 6%;
                margin-bottom: 30px;
              }
              .zu-btn-wrap {
                padding: 0 4% 6% 6%;
              }
              .wpb_single_image {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }
  }
}

@media ( max-width: 991px ) {
  .vc_tta-tabs {
    padding: 0 4% 4%;
    .vc_tta-panels-container {
      .vc_tta-panels {
        .vc_tta-panel {
          .vc_tta-panel-body {
            .vc_wp_text {
              margin-bottom: 0 !important;
            }
            .vc_row {
              .wpb_column {
                width: 100%;
                float: none;
              }
            }
          }
        }
      }
    }
    &.half-background {
      .vc_tta-panels-container {
        .vc_tta-panels {
          .vc_tta-panel {
            .vc_tta-panel-body {
              .vc_row {
                .wpb_column {
                  order: 2;
                  +.wpb_column {
                    order: 1;
                    margin-bottom: 20px;
                  }
                }
              }
              .wpb_single_image {
                background: red;
                * {
                  width: 100%;
                }
                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media ( max-width: 600px ) {
  .vc_tta-tabs {
    padding: 0 0 15px;
  }
}

@media ( max-width: 400px ) {
  .vc_tta-tabs {
    padding-bottom: 20px;
    .vc_tta-tabs-container {
      .vc_tta-tabs-list {
        padding: 20px 15px 0 !important;
        margin-bottom: 20px !important;
        .vc_tta-tab {
          a {
            font-size: 20px;
          }
        }
      }
    }
    .vc_tta-panels-container {
      .vc_tta-panels {
        .vc_tta-panel {
          .vc_tta-panel-body {
            padding: 0 15px;
          }
        }
      }
    }
  }
}

/*-------------------------
*  Carousel
-------------------------*/
.zu-carousel-wrap {
  .template-zu_carousel--blog-style-1 {
    .owl-stage {
      padding: 0 !important;
    }
    .zu-carousel-item {
      position: relative;
      .item-image {
        overflow: hidden;
        img {
          @include transition(.3s);
        }
      }
      .item-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 10px 6%;
        top: 0;
        left: 0;
        z-index: 2;
        color: #fff;
        background: rgba(83, 66, 55, 0.8);
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        flex-direction: column;
        @include transition(.3s);
        overflow: hidden;
        opacity: 0;
        .item-title {
          font-size: 18px;
          color: $primary_color;
          font-weight: normal;
          margin-bottom: 0;
          transform: translateY(40px);
          @include transition(.3s);
        }
        .item-excerpt {
          @include transition(.5s);
          transform: translateY(40px);
        }
        .item-button {
          @include transition(.7s);
          transform: translateY(40px);
          .btn {
            color: $white;
          }
        }
      }
      &:hover {
        .item-image {
          img {
            transform: scale(1.2);
          }
        }
        .item-overlay {
          opacity: 1;
          .item-title, .item-excerpt, .item-button {
            transform: translateY(0);
          }
        }
      }
    }

    .owl-nav {
      button {
        &.owl-prev {
          left: 0;
        }
        &.owl-next {
          right: 0;
        }
      }
    }
  }
}

@media ( max-width: 480px ) {
  .zu-carousel-wrap {
    .template-zu_carousel--blog-style-1 {
      .zu-carousel-item {
        .item-overlay {
          font-size: 14px;
          line-height: 1.2;
          .item-title {
            font-size: 16px;
            line-height: 1.2;
            margin-bottom: 5px;
          }
          .item-button {
            width: 100%;
            max-width: 170px;
            .btn {
              min-width: 0;
              display: block;
              font-size: 14px;
              padding: 4px 8px;
            }
          }
          .item-excerpt {
            margin-bottom: 10px;
            p {
              margin: 0;
              &:not(:last-child) {
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
}

/*-------------------------
*  Contact us
*--------------------------*/
.wpcf7-form {
  input {
    &[type="submit"] {
      width: 100%;
      text-align: left;
      color: $color_text;
      position: relative;
      @include transition(.3s);
      padding: 8px 20px;
      border-color: $primary_color;
    }
  }
  .your-message {
    textarea {
      height: 115px;
      min-height: 0;
    }
  }
  .col {
    >div {
      position: relative;
      &:last-child {
        .form-control, input[type="submit"] {
          margin-bottom: 0;
        }
      }
      .ajax-loader {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
      }
    }
  }
}

@media ( max-width: 767px ) {
  .wpcf7-form {
    .row {
      .col {
        width: 100%;
        flex-basis: inherit;
        +.col {
          margin-top: 30px;
        }
      }
    }
  }
}

/*-------------------------
*  Page Elements
*--------------------------*/
/**Page Title**/
#page-title {
  .container {
    position: relative;
    height: 400px;
    overflow: hidden;
  }
  .page-title-inner {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    @include transform(translateY(-50%));
    text-align: center;
    color: $white;
    padding: 0 10px;
    .title {
      color: $white;
    }
  }
}

@media ( max-width: 600px ) {
  #page-title {
    .container {
      .page-title-inner {
        .title {
          font-size: 45px;
        }
      }
    }
  }
}

@media ( max-width: 400px ) {
  #page-title {
    .container {
      .page-title-inner {
        .title {
          font-size: 35px;
        }
      }
    }
  }
}
