footer {
  position: relative;
}
.widget-area, .content-area {
  font-family: "Roboto", serif;
}

#footer.footer-wrap {
  padding-bottom: 20px;
  .widget {
    color: $light_grey;
    .widget-title {
      color: $white;
      font-size: 16px;
    }
  }
  ul {
    list-style: none inside;
    margin: 0;
    padding: 0;
    li {
      a {
        color: $light_grey;
        &:hover {
          color: $white;
        }
      }
    }
    &.social-share-button {
      width: 100%;
      display: flex;
      display: -webkit-flex;
      justify-content: flex-end;
      flex-flow: row wrap;
      margin-top: 40px;
      li {
        display: inline-block;
        vertical-align: middle;
        a {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid $white;
          text-align: center;
          line-height: 19px;
          display: block;
          font-size: 10px;
          margin: 5px;
          &:hover {
            color: $primary_color;
            border-color: $primary_color;
          }
        }
      }
    }
  }

  #footer-top {
    border-bottom: 1px solid $primary_color;
    margin-bottom: 20px;
    padding-bottom: 30px;
  }

  #footer-bottom {
    .row {
      align-items: center;
    }
    .widget {
      p {
        margin: 0;
      }
      a {
        display: inline-block;
        img {
          margin: 0;
          max-width: 60px !important;
        }
        
      }
      &.widget_media_image {
        a {
          float: right;
          &:hover {
            opacity: .7;
          }
        }
      }
    }
  }
}

.textwidget {
  p {
    font-size: 14px;
  }
}

#footer.footer-wrap .footer-social {
  ul {
    display: flex;
    justify-content: flex-end;
    .item-social {
      padding: 0 10px;
      color: #fff;
      transition: color 0.4s;
      i {
        color: inherit;
      }
      &.item-fb {
        &:hover {
          a { color: #3a559f}
        }
      }
      &.item-gplus {
        &:hover {
          a { color: #dc4d42}
        }
      }
      &.item-linkedin {
        &:hover {
          a { color: #007ab9}
        }
      }
      &.item-pint {
        &:hover {
          a { color: #cb1f27}
        }
      }
    }
  }
}
.gallery-size-thumbnail {
  display: flex;
  flex-wrap: wrap;
  > .gallery-item {
    width: calc(100% / 3);
    padding: 5px;
    margin: 0;
  }
}

@media ( max-width: 991px ) and ( min-width: 769px ) {
  #footer {
    ul {
      &.social-share-button {
        margin-top: 30px;
        li {
          a {
            margin: 2px;
            width: 17px;
            height: 17px;
            line-height: 16px;
          }
        }
      }
    }
  }
}

@media ( max-width: 767px ) {
  #footer {
    #footer-top {
      padding-bottom: 0;
      .widget {
        margin-bottom: 30px;
      }
      ul {
        &.open-hour {
          text-align: left !important;
        }
        &.social-share-button {
          justify-content: flex-start;
        }
      }
    }
  }
}

@media ( max-width: 575px ) {
  #footer {
    #footer-bottom {
      .row {
        .sidebar-bottom-1 {
          order: 2;
        }
        .sidebar-bottom-2 {
          order: 1;
        }
      }
      .widget {
        text-align: center;
        a {
          float: none !important;
          margin-bottom: 20px;
        }
      }
    }
  }
}
