#wrapper {
  position: relative;
}
html {
  overflow-x: hidden;
}
body h1.title {
  font-family: "Roboto", "helvetica", "sans-serif";
  line-height: 1.5;
}
header {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9;
  #logo {
    margin: 0;
    line-height: $header_height;
    a {
      display: block;
      .site-title {
        display: none;
      }
      img {
        max-width: 100%;
        max-height: 68px;
      }
    }
  }
  .phone-menu {
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    a {
      color: inherit;
      i {
        margin-right: 5px;
      }
      &:hover {
        color: $primary_color;
      }
    }
  }
  .zu-custom-box {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    height: 100%;
    float: right;
    margin-left: 50px;
    >div {
      display: flex;
      display: -webkit-flex;
      align-items: center;
      height: 100%;
    }
    .zu-cart-mini-wrap {
      margin-right: 10px;
      .cart-item {
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        position: relative;
        padding-right: 20px;
        display: block;
        .cart-total {
          position: absolute;
          font-size: 8px;
          width: 12px;
          height: 12px;
          background: $primary_color;
          display: block;
          color: $color_text;
          text-align: center;
          line-height: 11px;
          border-radius: 50%;
          top: -5px;
          right: 0;
        }
        &:hover {
          color: $primary_color;
        }
      }
    }

    .zu-language-wrap {
      position: relative;
      margin-right: 10px;
      .icon {
        color: $primary_color;
        font-size: 20px;
        position: relative;
        @include transition(.3s);
        border-right: 2px solid $primary_color;
        padding-right: 25px;
        cursor: pointer;
        &:after {
          content: '';
          position: absolute;
          border-top: 5px solid $white;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          top: 65%;
          transform: translateY(-50%);
          right: 10px;
          @include transition(.3s);
        }
        &.open-language {
          color: #fff;
          cursor: pointer;
          &:after {
            transform: translateY(-50%) rotate(180deg);
          }
        }       
      }
      .language-list {
        list-style: none;
        padding: 0;
        background: $header_bg;
        padding: 10px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 160px;
        margin: 0;
        display: none;
        z-index: 9;
        li {
          color: $white;
          font-size: 12px;
          +li {
            margin-top: 5px;
          }
          img {
            margin-right: 5px;
          }
          a, span {
            color: $white;
            display: inline-block;
            vertical-align: middle;
            line-height: 1;
            @include transition(.3s);
          }
          .icl_lang_sel_current {
            color: $primary_color;
          }
          a {
            &:hover {
              color: $primary_color;
              span {
                color: $primary_color;
              }
            }
          }
        }
      }
    }

    .zu-search-form {
      position: relative;
      .search-btn {
        color: $primary_color;
        font-size: 20px;
        cursor: pointer;
      }
      form {
        position: absolute;
        top: 100%;
        right: 0;
        display: none;
        z-index: 8;
        input[type="text"] {
          border: none;
          padding: 0 10px;
          width: 200px;
          border-radius: 0;
          height: auto;
          line-height: 35px;
          font-size: 14px;
          margin: 0;
          background: $white;
          &:focus {
            outline: none;
            box-shadow: none;
            background: $white;
          }
        }
      }
    }
  }
}
// .box-banner-home {
//   height: 80vh;
//   overflow: hidden;
// }

@media ( max-width: 1199px ) and ( min-width: 992px ) {
  header {
    .zu-custom-box {
      margin-left: 30px;
    }
  }
}

@media ( max-width: 991px ) {
  header {
    .row {
      position: relative;
      .col-sm-8 {
        position: static;
      }
    }
    .zu-custom-box {
      margin: 0 50px 0 0;
    }
  }
}

@media ( max-width: 575px ) {
  header {
    .row {
      display: flex;
      >div {
        width: 40%;
      }
      >.col-logo {
        width: 30%;
      }
      >.col-phone {
        width: 30%;
      }
    }
  }
}

@media ( max-width: 480px ) {
  header {
    .zu-custom-box {
      .zu-search-form {
        position: static;
        form {
          width: 100%;
          input[type="text"] {
            width: 100%;
          }
        }
      }
    }
  }
}

@media ( max-width: 360px ) {
  header {
    .zu-custom-box {
      margin: 0 45px 0 0;
      .zu-cart-mini-wrap {
        .cart-item {
          padding-right: 15px;
        }
      }
    }
  }
}
