.navbar {
  padding: 0;
  height: 100%;
  #main-navigation {
    justify-content: flex-end;
  }
  #primary-menu {
    li {
      position: relative;
      a {
        color: #fff;
        font-size: $menu-fs;
        text-transform: uppercase;
        &:hover {
          color: $gnav_color_hover;
        }
      }
      .menu-arrow {
        display: none;
      }
    }
  }
}

@media ( min-width: 992px ) {
  .navbar {
    #main-navigation, .menu-main-navigation-container, #primary-menu {
      height: 100%;
    }
    #main-navigation {
      justify-content: flex-end;
    }
    #primary-menu {
      li {
        .dropdown-menu {
          display: block;
          background:  rgba(0, 0, 0, 0.6);
          border-radius: 0;
          padding: 0;
          border: none;
          border-bottom: 2px solid $gnav_color_hover;
          margin: 10px 0 0;
          @include transition(.3s);
          opacity: 0;
          visibility: hidden;
          li {
            a {
              text-align: center;
              white-space: nowrap;
              display: block;
              padding: 10px 5px;
            }
          }
        }
        &:hover {
          >.dropdown-menu {
            opacity: 1;
            margin-top: 0;
            visibility: visible;
          }
        }
      }
      >li {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        >ul {
          &.dropdown-menu {
            border-radius: 0;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            >li {
              position: relative;
              .dropdown-menu {
                top: 0;
                left: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media ( min-width: 1200px ) {
  .navbar {
    #primary-menu {
      >li {
        +li {
          margin-left: 20px;
        }
      }
    }
  }
}

@media ( min-width: 992px ) and ( max-width: 1199px ) {
  .navbar {
    #primary-menu {
      >li {
        +li {
          margin-left: 20px;
        }
      }
    }
  }
}

@media ( max-width: 991px ) {
  .navbar {
    position: static;
    .navbar-toggler {
      border: none;
      padding: 0;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 22px;
      overflow: hidden;
      border-radius: 0;
      &:focus {
        outline: none;
      }
      span {
        &.icon-bar {
          position: absolute;
          width: 100%;
          height: 4px;
          left: 0;
          top: 0;
          background: #d9c8ae;
          @include transition(.3s);
          &:nth-child(2) {
            top: 9px;
          }
          &:last-child {
            top: auto;
            bottom: 0;
          }
        }
      }
      &.open-menu {
        span {
          &.icon-bar {
            &:first-child {
              top: 50%;
              transform: translateY(-50%) rotate(45deg);
            }
            &:nth-child(2) {
              left: 100%;
              opacity: 0;
            }
            &:last-child {
              top: 50%;
              bottom: auto;
              transform: translateY(-50%) rotate(-45deg);
            }
          }
        }
      }
    }
    #main-navigation {
      position: absolute;
      width: 100%;
      top: 100%;
      left: 0;
      background: $header_bg;
      padding: 0 15px;
      z-index: 10;
      #primary-menu {
        li {
          a {
            padding: 10px 0;
            display: block;
            &:after {
              content: none;
            }
          }
          .dropdown-menu {
            display: none;
            margin: 0;
            padding: 0 0 0 15px;
            background: none;
            border-radius: 0;
            border: none;
          }
          .menu-arrow {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            color: $white;
            padding: 12px 15px;
            z-index: 10;
          }
          &.menu-item-has-children.open {
            > ul {
              display: block;
            }
          }
        }
      }
    }
  }
}
