aside {
  position: relative;
}

/*--------------------------
* Sidebar
--------------------------*/
#secondary {
  .widget {
    border: 1px solid #ebebeb;
    padding: 15px;
    +.widget {
      margin-top: 30px;
    }
    &.widget_search {
      margin-bottom: 50px;
    }
    &.widget_search, &.widget_media_image, &.widget_tag_cloud {
      border: none;
      padding: 0;
      .widget-title {
        padding: 0 10px;
      }
    }
    .widget-title {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: normal;
      color: #232020;
      line-height: 1.2;
      margin-bottom: 10px;
    }
    ul {
      padding: 0;
      list-style: none;
      margin: 0;
      li {
        display: block;
        +li {
          margin-top: 10px;
        }
        a {
          position: relative;
          color: #646464;
          &:hover {
            color: $primary_color;
          }
        }
      }
      &:not(#recentcomments) {
        li {
          a {
            position: relative;
            padding-left: 15px;
            &:before {
              content: '';
              position: absolute;
              width: 6px;
              height: 6px;
              border-top: 1px solid $color_text;
              border-right: 1px solid $color_text;
              display: inline-block;
              top: 50%;
              left: 0;
              transform: translateY(-50%) rotate(45deg);
              @include transition(.3s);
            }
            &:hover {
              padding-left: 20px;
              &:before {
                border-color: $primary_color;
                left: 5px;
              }
            }
          }
        }
      }
    }

    .tagcloud {
      a {
        font-size: 18px !important;
        padding: 4px 10px;
        display: inline-block;
        background: #ece3d6;
        color: #646464;
        margin: 0 0 4px;
        &:hover {
          background: $primary_color;
          color: $white;
        }
      }
    }
  }
}

@media ( max-width: 767px ) {
  #sidebar {
    margin-top: 50px;
  }
}

/**
* Search form
 */
.zu-search-area {
  .search-form {
    position: relative;
    .form-control {
      margin-bottom: 0;
      padding: 4px 40px 4px 10px;
    }
    button {
      position: absolute;
      width: 30px;
      height: 100%;
      top: 0;
      right: 1px;
      padding: 0;
      border: none;
      background: none;
      cursor: pointer;
    }
  }
}