/*-------------------------
*  heading
*--------------------------*/
.vc_custom_heading {
  h2 {
    position: relative;
    color: $primary_color;
    padding-bottom: 15px;
    margin-bottom: 15px;
    +div {
      text-align: center;
      padding: 0 10px;
    }
    &:after {
      content: '';
      position: absolute;
      height: 2px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &.default {
    text-transform: uppercase;
    h2 {
      padding: 0;
      margin-bottom: 25px;
    }
    &.title-white {
      h2 {
        &:after {
          display: none;
        }
      }
    }
  }
  &.title-white {
    h2 {
      color: $white;
      &:after {
        width: 230px;
        background: $white;
      }
      +div {
        color: $white;
      }
    }
  }
  &.underline-center {
    margin-bottom: 35px;
    h2 {
      text-align: center !important;
      &:after {
        width: 120px;
        background: $primary_color;
      }
    }
  }
}

@media ( max-width: 400px ) {
  .vc_custom_heading {
    h2 {
      font-size: 28px;
    }
  }
}