@charset "UTF-8";

.woocommerce-product-gallery {
  .flex-control-thumbs {
    li {
      overflow: hidden;
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
      img {
        @include transition(.3s)
      }
    }
  }
}
.woocommerce-cart-form {
  .product-thumbnail {
    a {
      overflow: hidden;
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
      img {
        @include transition(.3s)
      }
    }
  }
}

