/*-------------------------
*  Grid
*--------------------------*/
$columns: 12;
$gutter: 10px;
$spacing: 20;

/*-------------------------
*  Spacing
*--------------------------*/
$paddings: ('pt': 'padding-top', 'pr': 'padding-right', 'pb': 'padding-bottom', 'pl': 'padding-left');
$margins: ('mt': 'margin-top', 'mr': 'margin-right', 'mb': 'margin-bottom', 'ml': 'margin-left');

/*-------------------------
*  Media Queries
*--------------------------*/
$xs: 480px;
$sm: 600px;
$md: 800px;
$lg: 1190px;
$xl: 1440px;
$xxl: 1700px;

$breakpoints: ('xs': $xs, 'sm': $sm, 'md': $md, 'lg': $lg, 'xl': $xl);

/*-------------------------
*  Colours
*--------------------------*/
$white: #fff;
$black: #000;
$color_text: #1b1b1b;
$light_grey: #d3d3d3;
$primary_color: #50A840;
$primary_color_hover: #3E8F4C;
$secondary_color: #b18c67;
$color_03: rgba(83, 66, 55, .8);

$body_bg: #f7f7f7;

$header_bg: rgba(#1b1b1b, .8);

$gnav_color: #fff;
$gnav_color_hover: #059e40;
$gnav_bg: rgba(#1b1b1b, .8);

// custom colours

$colours: ('white': $white, 'black': $black, 'light-grey': $light_grey);

$base-fs: 18px;
$menu-fs: 15px;

/*-------------------------
*  Animations
*--------------------------*/
$time: 320ms;
$time_slow: 700ms;

$swing: cubic-bezier(0.55, 0, 0.1, 1);
$swift: cubic-bezier(0.4, 0, 0.2, 1);
$ease: ease;

$transition-default: all $time $ease;

/*-------------------------
*  Header
*--------------------------*/
$header_font: 'Oswald', Arial, sans-serif;
$header_height: 55px;
$sticky_header_height: 80px;
/*-------------------------
*  Navigation
*--------------------------*/
$menu_link_color: #333;
$menu_link_background_color: transparent;
$menu_link_hover_color: #bb9c7c;
$menu_link_background_hover_color: transparent;

$hover_team: #3d2b21;
$title_team: #bc9d7d;
