
/*--------------------------
* page Blog
--------------------------*/
.post-item {
  a {
    color: #c3a281;
  }
  +.post-item {
    margin-top: 50px;
  }
  .item-header {
    margin-bottom: 25px;
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    position: relative;
    &:after, &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: 30px;
      background: #000;
      z-index: 1;
    }
    &:before {
      width: 70px;
      background: #fff;
      z-index: 2;
    }
    .item-posted-on {
      background: #c3a281;
      color: #fff;
      text-align: center;
      width: 70px;
      margin-right: 30px;
      .date {
        font-size: 30px;
        padding: 8px 10px;
        display: block;
        line-height: 1.6;
      }
      .month {
        font-size: 14px;
        display: block;
        padding: 5px 8px;
      }
    }
    .item-info {
      width: calc(100% - 100px);
      .item-title {
        margin-bottom: 20px;
        line-height: 1;
        font-weight: normal;
        a {
          color: #c3a281;
          font-size: 20px;
          text-transform: uppercase;
          line-height: 1;
          display: inline-block;
          &:hover {
            color: $color_03;
            text-decoration: none;
          }
        }
      }
      .item-meta {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        padding-bottom: 5px;
        white-space: nowrap;
        a {
          &:hover {
            text-decoration: underline;
          }
        }
        .item-category {
          margin: 0 0 0 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: break-word;
          max-height: 1.2em;
          line-height: 1.2em;
        }
      }
    }
  }
  .item-body {
    .item-image {
      margin-bottom: 20px;
      a {
        &:hover {
          opacity: .6;
        }
      }
    }
  }
}

/*---------------------------
* Post navigation
---------------------------*/
.navigation {
  margin-top: 50px;
  margin-bottom: 20px;
  h2 {
    display: none;
  }
  .nav-links {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    a {
      color: $primary_color;
      font-size: 20px;
      &:hover {
        color: $color_03;
      }
    }
  }
}

@media ( max-width: 991px ) and ( min-width: 769px ) {
  .post {
    .item-header {
      .item-posted-on {
        margin-right: 15px;
        .date {
          padding: 5px 10px;
        }
      }
      .item-info {
        width: calc(100% - 85px);
        .item-title {
          a {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media ( max-width: 600px ) {
  .post {
    .item-header {
      .item-posted-on {
        margin-right: 15px;
      }
      .item-info {
        width: calc(100% - 85px);
        .item-title {
          a {
            font-size: 18px;
          }
        }
        .item-meta {
          font-size: 14px;
        }
      }
    }
  }
}

@media ( max-width: 480px ) {
  .post {
    .item-header {
      margin-bottom: 15px;
      &:before {
        width: 50px;
      }
      .item-posted-on {
        width: 50px;
        margin-right: 10px;
        .date {
          font-size: 25px;
        }
        .month {
          font-size: 12px;
          padding: 5px 3px;
        }
      }
      .item-info {
        width: calc(100% - 60px);
      }
    }
  }
}
