.woocommerce-cart {
  .woocommerce-cart-form {
    .product-quantity {
      .quantity {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        span {
          &.qty-btn {
            font-size: 20px;
            color: $primary_color;
            width: 25px;
            font-weight: bold;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            user-select: none;
          }
        }
        input {
          &[type="number"] {
            margin: 0 2px;
            padding: 0;
            line-height: 1.3;
            border: none;
            text-align: center;
            font-size: 18px;
            width: 30px;
            -webkit-appearance: none;
            appearance: none;
            -moz-appearance: textfield;
            &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }
      }
    }
    .product-name {
      position: relative;
      a {
        font-size: 16px;
        color: $color_text;
        &:hover {
          color: $primary_color;
        }
        &.remove {
          width: auto;
          height: auto;
          border-radius: 0;
          background: none;
          color: $color_text !important;
          &:hover {
            color: red !important;
          }
        }
      }
    }
  }
}
@media ( min-width: 769px ) {
  .woocommerce-cart {
    table.shop_table {
      border: none;
      th, td {
        border-bottom: 1px solid $primary_color;
        padding: 15px 10px;
        vertical-align: top;
      }
    }
    .woocommerce-cart-form {
      .cart_item {
        .product-thumbnail {
          width: 15%;
          a {
            display: block;
            img {
              width: 100%;
            }
          }
        }
        .product-price {
          width: 15%;
        }
        .product-quantity {
          width: 15%;
        }
        .product-name {
          position: relative;
          a {
            position: absolute;
            left: 10px;
            top: 15px;
            &.remove {
              border-bottom: 1px solid $primary_color;
              border-radius: 0;
              display: table;
              top: auto;
              bottom: 15px;
            }
          }
        }
        .product-subtotal {
          width: 70px;
          padding: 15px 5px;
        }

        .actions {
          button {
            &:disabled, &[disabled] {
              &:after {
                width: 100%;
              }
            }
          }
          .input-group.coupon {
            max-width: 445px;
          }
        }
      }
    }

    .cart-collaterals {
      .cart_totals {
        .shop_table {
          tr {
            td {
              text-align: right;
            }
          }
        }
      }
    }
  }
}

@media ( max-width: 1199px ) and ( min-width: 769px ) {
  .woocommerce-cart {
    table {
      &.shop_table {
        td {
          &.actions {
            .row {
              >div {
                width: 50%;
                flex: 0 0 50%;
                max-width: 50%;
              }
            }
            .coupon {
              #coupon_code {
                max-width: 170px;
              }
            }
          }
        }
      }
    }
  }
}

@media ( max-width: 991px ) and ( min-width: 769px ) {
  .woocommerce-cart {
    .woocommerce-cart-form {
      .cart_item {
        .product-thumbnail {
          width: 20%;
        }
        .product-quantity {
          width: 20%;
        }
      }
    }
  }
}


@media ( max-width: 768px ) {
  .woocommerce-cart {
    table {
      &.shop_table {
        td {
          &.actions {
            .coupon {
              #coupon_code {
                width: 1% !important;
              }
            }
          }
        }
      }
    }
  }
}
