.woocommerce-checkout {
  h3 {
    font-size: 32px;
    text-transform: uppercase;
    color: $primary_color;
    margin: 30px 0;
  }
  #customer_details {
    .form-row {
      width: 100% !important;
      float: none !important;
      label {
        display: none;
      }
      .woocommerce-input-wrapper {
        display: block;
        width: 100%;
      }
      input, textarea {
        display: block;
        width: 100%;
        padding: 10px 5px;
      }
    }
  }
  .woocommerce-billing-fields h3{
    margin-top: 0;
  }
  .woocommerce-billing-fields,
  .woocommerce-shipping-fields,
  .woocommerce-additional-fields {
    width: 100%;
    display: block;
  }
  .woocommerce-checkout-review-order-table {
    .product-thumbnail {
      max-width: 80px;
    }
  }
  #form-checkout-overview {
    > h3 {
      margin-top: 0;
    }
  }
  #form-checkout-overview {
    .shop_table {
      @include border-radius(0);
      border: 1px solid $primary_color;
      td {
        vertical-align: top;
      }
    }
  }
  #payment.woocommerce-checkout-payment {
    background: none;
    .wc_payment_methods {
      padding: 0;
      .wc_payment_method {
        display: inline-block;
        input {
          display: none;
        }
        input[type=radio]:checked + label {
          background-color: $primary_color;
          color: $white;
        }
        .btn {
          font-size: 18px;
          min-width: auto;
          paddign-left: 10px;
          paddign-right: 10px;
        }
      }
    }
    .payment_box {
      background-color: transparent;
      border: 1px solid $primary_color;
      &:before {
        content: none;
      }
    }
  }
}
