/*
 * Home
 */
.home,
.page-id-3256 {
  #main-content {
    padding: 0;
  }
}
.home {
  #page-title {
    margin-bottom: 70px;
  }
}
.mt0 {
  margin-top: 0 !important;
}
p {
  font-family: "Roboto", "helvetica", "sans-serif";
  font-weight: 400;
}
.vc_custom_heading.title-heading h2{
  font-size: 26px;
  margin-bottom: 0;
  padding: 20px 0;
}
.bg-opacity {
  color: #fff;
  font-size: 16px;
  position: relative;
  &:before {
    display: block !important;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .vc_custom_heading h2 {
    color: #fff;
  }
}
.row-btn {
  .text-right .zu_btn {
    margin-right: 20px;
  }
  .text-left .zu_btn {
    margin-left: 20px;
  }
  .zu_btn {
    background-color: $primary_color;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: "Roboto", "helvetica", "sans-serif";
    border-radius: 5px;
    overflow: hidden;
    font-size: 14px;
    transition: background-color 0.4s;
    position: relative;
    display: inline-block;
    &:before {
      position: absolute;
      transition: left 0.7s;
      content:"";
      left: -100%;
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 0 0 10px 30px rgba(255, 255, 255, 0.5);
      top: 50%;
      transform: rotate(45deg) translateY(-70%);
      z-index: 2;
      width: 0;
      height: 150%;
    }
    &:hover {
      background-color: $primary_color_hover;
      &:before {
        left: 150%;
      }
    }
  }
}

.zu-carousel-item {
  position: relative;
  .item-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: $hover_team;
    font-size: 18px;
    text-transform: uppercase;
    color: $title_team;
    padding: 15px;
    &:before {
      content: "";
      width: 60%;
      height: 2px;
      position: absolute;
      left: 50%;
      bottom: -15px;
    }
  }
}
.fix-padding-5 {
  padding: 5px;
}
.zu-grid .zu-grid-item .item-image {
  margin-bottom: 0;
}

// Box zura-product
.zu-grid .zu-grid-item .item-image img {
  transition: 1s; 
}
.zu-grid .zu-grid-item {
  .box-link-hover {
    box-shadow: 0 4px 9px 3px rgba(0,0,0,.18);
    display: block;
    position: relative;
    overflow: hidden;
    .box-item-hover {
      position: absolute;
      width: 100%;
      bottom: 0%;
      background: rgba(255, 255, 255, 0.9);
      color: #fff;
      padding: 10px 20px;
      .item-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
        padding: 0;
        text-transform: unset;
        a {
          color: inherit;
          &:hover {
            color: $primary_color;
          }
        }
      }
      .item-info {
        max-height: 0;
        overflow: hidden;
        margin-bottom: 0;
        transition: max-height 0.4s ease-in-out;
      }
    }
  }
  &:hover {
    .box-item-hover {
      .item-info {
        max-height: 100px;
      }
    }
  }
  .item-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #101010;
    font-size: 15px;
    padding: 10px 0 0;
    font-weight: 600;
    margin-bottom: 0;
    a {
      color: inherit;
      &:hover {
        color: $primary_color;
      }
    }
  }
  .item-info {
    margin-bottom: 15px;
    font-weight: 400;
    color: #101010;
  }
}

.why-item {
  padding: 0 10px !important;
  color: #101010;
  font-size: 14px;
  position: relative;
  &:before {
    font-size: 45px;
    content: "";
    position: absolute;
    left: 50%;
    top: -10px;
    color: #ffff00;
    transform: translateX(-50%);
    font-family: "icomoon";
  }
  .title-why {
    padding-top: 5px;
    h5 {
      font-size: 20px;
    }
  }
  .wpb_content_element > .wpb_wrapper {
    font-size: 15px;
  }
  > .vc_column-inner  {
    border-radius: 5px;
    background-color: rgba(199, 230, 191, 0.9);
    height: 100%;
    > div {
      padding: 15px;
    }
  }
}
.content-area .page .box-projects {
  .owl-stage {
    padding: 0;
  }
  .zu-carousel-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #101010;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 0;
    a {
      color: inherit;
      &:hover {
        color: $primary_color;
      }
    }
  }
}
.owl-carousel.owl-drag.box-projects .owl-item {
  padding: 0 5px;
}
.zu-carousel.box-projects .owl-dots button.owl-dot {
  padding: 5px 0;
  outline: none !important;
  &.active {
    span {
      background-color: $primary_color;
    }
  }
  span {
    border: none;
    width: 12px;
    height: 12px;
    margin: 5px;
    background: #000;
  }
}
/*-------------------------
*  service
*--------------------------*/
#services-section {
  h2 {
    &:not(.box-title) {
      font-size: 32px;
      color: $primary_color;
      border-bottom: 2px solid $primary_color;
      padding-bottom: 20px;
      margin-bottom: 30px;
      text-align: left !important;
    }
  }
  .container {
    >.vc_row {
      >.wpb_column {
        position: relative;
        &:first-child {
          &:after {
            content: '';
            position: absolute;
            width: 2px;
            height: 90%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: $primary_color;
          }
          .vc_row {
            display: flex;
            display: -webkit-flex;
            &:not(:last-child) {
              padding-bottom: 35px;
              margin-bottom: 35px;
              border-bottom: 2px solid $primary_color;
            }
            .wpb_column {
              padding-bottom: 44px;
              .zu-service-box {
                .box-button {
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  width: 100%;
                }
              }
            }
          }
        }
        +.wpb_column {
          .vc_column-inner {
            padding-top: 0 !important;
          }
          .wpb_wrapper {
            height: 100%;
            display: flex;
            display: -webkit-flex;
            align-items: center;
            justify-content: center;
            flex-flow: row wrap;
            flex-direction: inherit;
            color: #fff;
            padding: 20px 10%;
            background: url("../images/bg-service.jpg") no-repeat right center / cover;
            >div {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .zu-service-box {
    text-align: center;
    .box-icon {
      min-height: 107px;
      font-size: 50px;
      margin-bottom: 10px;
      overflow: hidden;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      justify-content: center;
      i {
        @include transition(.3s);
        &:before {
          content: none;
        }
      }
    }
    .box-title {
      font-size: 18px;
      color: #0c0908;
      line-height: 1.2;
      margin-bottom: 0;
    }
    .box-description {
      margin-bottom: 10px;
    }
    &#zu-service-box {
      .box-icon {
        i {
          background: url('../images/service_icon.png') no-repeat 0 0;
          width: 85px;
          height: 107px;
        }
      }
      &:hover {
        .box-icon {
          i {
            background: url('../images/service_icon.png') no-repeat 0 -109px;
          }
        }
      }
    }
    &#zu-service-box-2 {
      .box-icon {
        i {
          background: url('../images/service_icon.png') no-repeat -127px 0;
          width: 137px;
          height: 72px;
        }
      }
      &:hover {
        .box-icon {
          i {
            background: url('../images/service_icon.png') no-repeat -127px -74px;
          }
        }
      }
    }
    &#zu-service-box-3 {
      .box-icon {
        i {
          background: url('../images/service_icon.png') no-repeat -310px 0;
          width: 119px;
          height: 104px;
        }
      }
      &:hover {
        .box-icon {
          i {
            background: url('../images/service_icon.png') no-repeat -310px -107px;
          }
        }
      }
    }
    &#zu-service-box-4 {
      .box-icon {
        i {
          background: url('../images/service_icon.png') no-repeat -469px 0;
          width: 109px;
          height: 78px;
        }
      }
      &:hover {
        .box-icon {
          i {
            background: url('../images/service_icon.png') no-repeat -469px -81px;
          }
        }
      }
    }
  }
}

.navbar #primary-menu .menu-item {
  &.current_page_item, &.active, &.current-menu-item {
    a {
      color: $primary_color;
    }
    .dropdown-menu {
      a {
        color: #fff;
      }
      .current-menu-item, .active {
        a {
          color: $primary_color;
        }
      }
    }
  }
}
.vc_custom_heading.underline-center {
  h2 {
    padding-bottom: 10px;
    text-transform: uppercase;
  }
}
.vc_custom_heading.underline-full {
  h2 {
    padding-bottom: 7px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid $primary_color;
    &:before {
      position: absolute;
      left: 10px;
      bottom: -3.5px;
      width: 60px;
      height: 6px;
      background-color: $primary_color;
      content: "";
    }
  }
}

@media ( max-width: 991px ) and ( min-width: 769px ) {
  .zu-service-box {
    .box-title {
      font-size: 17px;
    }
    .box-button {
      padding: 0 15px;
      .btn {
        min-width: 0;
        display: block;
      }
    }
  }
}

@media ( max-width: 767px ) {
  #services-section {
    .container {
      >.vc_row {
        >.wpb_column {
          &:not(:last-child) {
            margin-bottom: 30px;
          }
          + .wpb_column {
            .wpb_wrapper {
              padding: 40px 10%;
            }
          }
        }
      }
    }
  }
  .vc_wp_text {
    margin-bottom: 0 !important;
  }
}

@media ( max-width: 480px ) and ( min-width: 400px ) {
  .zu-service-box {
    .box-button {
      padding: 0 15px;
      .btn {
        min-width: 0;
        display: block;
      }
    }
  }
}

@media ( max-width: 399px ) {
  #services-section {
    .container {
      > .vc_row {
        > .wpb_column {
          &:first-child {
            &:after {
              display: none;
            }
            .vc_row {
              &:not(:last-child) {
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: none;
              }
              .wpb_column {
                width: 100%;
                padding-bottom: 0;
                .zu-service-box {
                  .box-button {
                    position: static;
                  }
                }
              }
              +.vc_row {
                .wpb_column {
                  &:last-child {
                    .zu-service-box {
                      border-bottom: none;
                      padding-bottom: 0;
                      margin-bottom: 0;
                    }
                  }
                }
              }
            }
          }
          .vc_row {
            flex-flow: row wrap;
          }
          + .wpb_column {
            .wpb_wrapper {
              padding: 25px 15px;
            }
          }
        }
      }
    }
  }
  .zu-service-box {
    border-bottom: 2px solid $primary_color;
    padding-bottom: 20px;
    margin-bottom: 20px;
    .box-icon {
      min-height: 0;
    }
  }
}

.template-zu_grid--testimonial-style-1 {
  .item-social {
    li {
      margin: 3px 0;
      a {
        display: block;
        padding: 5px 6px;
        &:hover {
          color: $white !important;
          background: $primary_color;
        }
      }
    }
  }
}

.home {
  .zu-woocommerce-layout-style-02 {
    .slick-arrow {
      color: $white;
      &:hover {
        color: $primary_color;
        background: $white;
      }
    }
  }
}
.banner-home, .list-slider-banner {
  .item-slider {
    height: 80vh;
    position: relative;
    .box-content-slider {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 50%;
      transform: translateY(50%);
      z-index: 2;
      text-align: center;
      .title-banner {
        font-size: 64px;
        color: #f72121;
        line-height: 1.4;
      }
      .des-banner {
        font-size: 32px;
        margin-top: 15px;
        color: $primary_color;
      }
    }
  }
}
.video-background {
  background: #000;
  position: relative;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.item-slider iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  height: 80vh;
  z-index: -1;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { transform: scale(1.5) }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
@media (max-width: 767px) {
  .banner-home .item-slider .box-content-slider .title-banner, .list-slider-banner .item-slider .box-content-slider .title-banner {
    font-size: 44px;
  }
  .banner-home .item-slider .box-content-slider .des-banner, .list-slider-banner .item-slider .box-content-slider .des-banner {
    font-size: 25px;
    line-height: 1.4;
    margin: 15px;
  }
  .banner-home, .list-slider-banner {
    .item-slider {
      height: 60vh;
    }
  }
}