
/*--------------------------------------------------------------
# Our Service
--------------------------------------------------------------*/
.zu-service-box {
  .wpb_row {
    align-items: center;
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    .vc_custom_heading {
      display: flex;
      border-bottom: 2px solid $primary_color;
      align-items: center;
      padding-bottom: 15px;
      flex-direction: row-reverse;
      justify-content: space-between;
      h2 {
        padding-bottom: 0;
        margin-bottom: 0;
        margin-right: 20px;
      }
      > span {
        margin-left: 0;
      }
    }
    .wpb_content_element {
      margin-top: 25px;
    }
  }
}

@media ( max-width: 991px ) and ( min-width: 769px ) {
  .zu-service-box {
    .wpb_row {
      .fancy-box-icon {
        max-width: 22%;
        img {
          max-width: 100%;
        }
      }
      .vc_custom_heading {
        h2 {
          font-size: 28px;
        }
      }
    }
  }
}

@media ( max-width: 767px ) {
  .zu-service-box {
    .container {
      &:nth-child(2n) {
        .wpb_column {
          order: 2;
          +.wpb_column  {
            order: 1;
          }
        }
      }
    }
  }
  .zu-service-box .wpb_row .vc_custom_heading {
    margin-top: 20px;
  }
}

@media ( max-width: 400px ) {
  .zu-service-box {
    .wpb_row {
      .fancy-box-icon {
        max-width: 22%;
        img {
          max-width: 100%;
        }
      }
      .vc_custom_heading {
        h2 {
          font-size: 26px;
        }
      }
    }
  }
}