/*--------------------------------------------------------------
# Our Team
--------------------------------------------------------------*/
.content-area {
  .page {
    .owl-stage {
      padding: 30px 0;
    }
    .template-zu_carousel--team-style-1 {
      .zu-carousel-item {
        position: relative;
        top: 0;
        @include transition(.3s);
        .item-info {
          position: absolute;
          opacity: 0;
          bottom: -40%;
          width: 100%;
          left: 0;
          @include transition(.3s);
          background-color: $hover_team;
          .item-title {
            position: relative;
            font-size: 18px;
            text-transform: uppercase;
            color: $title_team;
            text-align: center;
            padding-bottom: 12px;
            &:before {
              content: "";
              width: 60%;
              height: 2px;
              position: absolute;
              left: 50%;
              z-index: 2;
              // opacity: 0;
              background: $title_team;
              transform: translateX(-50%);
              bottom: 0;
            }
          }
        }
        .item-description {
          p {
            text-align: center;
            margin-bottom: 0;
            font-size: 16px;
            text-transform: none;
          }
        }
        &:hover {
          top: -30px;
          .item-info {
            bottom: -50px;
            opacity: 1;
          }
        }
      }
    }
  }
}

.template-zu_grid--team-style-1 {
  .item-title {
    color: #fff;
    font-size: 26px;
    margin-top: 40px;
  }
  .zu-grid-item {
    +.zu-grid-item {
      margin-top: 20px;
    }
  }
  .zu-grid .zu-grid-item .item-social {
    border-bottom: 3px solid #fff;
    li {
      border: 1px solid #fff;
      width: 42px;
      margin: 20px 20px 20px 0;
      height: 42px;
      border-radius: 25px;
      text-align: center;
      line-height: 40px;
      background-color: transparent;
      transition: all 0.4s;
      a {
        display: block;
      }
      i {
        &:before {
          color: #fff;
        }
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.6);
        i{
          &:before {
            color: $hover_team;
          }
        }
      }
    }
  }
  .item-info {
    p {
      color: #fff;
    }
  }
}

@media ( min-width: 640px ) {
  .template-zu_grid--team-style-1 {
    .zu-grid-item {
      .item-image {
        margin-bottom: 0;
      }
      &:nth-child(2n) {
        .row {
          flex-direction: row-reverse;
          text-align: right;
          .item-social {
            justify-content: flex-end;
          }
        }
      }
    }
  }
}

@media ( max-width: 991px ) and ( min-width: 769px ) {
  .template-zu_grid--team-style-1 {
    .item-title {
      margin-top: 10px;
    }
    .zu-grid {
      .zu-grid-item {
        .item-social {
          li {
            margin: 10px 10px 10px 0;
          }
        }
      }
    }
  }
}

@media ( max-width: 767px ) and ( min-width: 640px ) {
  .template-zu_grid--team-style-1 {
    .item-title {
      margin-top: 10px;
    }
    .zu-grid {
      .zu-grid-item {
        .item-social {
          li {
            margin: 5px 10px 5px 0;
            width: 35px;
            height: 35px;
            line-height: 35px;
          }
        }
      }
    }
  }
}

@media ( max-width: 639px ) {
  .template-zu_grid--team-style-1 {
    .item-title {
      margin-top: 10px;
    }
    .zu-grid-item {
      .item-image {
        img {
          width: 100%;
        }
      }
      .row {
        >div {
          width: 100%;
          max-width: 100%;
          flex: 0 0 100%;
        }
      }
    }
  }
}