.zu-service-box {
  &.template-zu_servicewhite-style {
    height: 100%;
    background: $primary_color;
    padding: 30px 15px;
    color: #fff;
    margin-bottom: 0;
    .box-icon {
      display: none;
    }
    .box-title {
      color: #fff;
      border-bottom: 2px solid #fff;
      margin-bottom: 30px;
      padding-bottom: 5px;
    }
  }
}

@media ( max-width: 1199px ) and ( min-width: 992px ) {
  .zu-service-box {
    &.template-zu_servicewhite-style {
      padding: 20px 10px;
      .box-title {
        margin-bottom: 15px;
      }
    }
  }
}

@media ( max-width: 991px ) {
  .services-grid {
    .vc_row {
      .wpb_column {
        width: 100%;
      }
    }
    .container {
      &:not(:nth-child(2n)) {
        .vc_row-flex {
          .wpb_column {
            order: 2;
            +.wpb_column {
              order: 1;
            }
          }
        }
      }
    }
  }
  .zu-service-box {
    &.template-zu_servicewhite-style {
      .box-title {
        font-size: 32px;
      }
    }
  }
}

@media ( max-width: 480px ) {
  .zu-service-box {
    &.template-zu_servicewhite-style {
      padding: 30px 15px 10px;
      .box-title {
        font-size: 28px;
      }
    }
  }
}