.product {
  &.type-product {
    .product_title {
      font-size: 16px;
      margin: 50px 0 20px !important;
      text-transform: uppercase;
      line-height: 1.3;
    }
    form {
      .quantity {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        float: none !important;
        margin: 0 0 15px !important;
        .screen-reader-text {
          position: static !important;
          height: auto;
          width: auto;
          margin: 0 40px 0 0 !important;
        }
        span {
          &:focus {
            outline: none;
          }
          &.qty-btn {
            font-size: 20px;
            font-weight: bold;
            color: $primary_color;
            cursor: pointer;
            width: 25px;
            text-align: center;
            display: inline-block;
          }
        }
        input {
          &[type="number"] {
            margin: 0 2px;
            padding: 0;
            line-height: 1.3;
            border: none;
            text-align: center;
            font-size: 18px;
            width: 40px;
            -webkit-appearance: none;
            appearance: none;
            -moz-appearance: textfield;
            &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }
      }
      .price {
        color: $primary_color;
        font-size: 18px;
        border: 2px solid $primary_color;
        max-width: 170px;
        text-align: center;
        padding: 10px;
        span {
          color: $primary_color;
        }
      }

      .woocommerce-product-details__short-description {
        margin: 30px 0 50px;
      }
    }

    .product_meta {
      border-bottom: 2px solid $primary_color;
      padding-bottom: 20px;
      margin-bottom: 40px;
      .posted_in {
        a {
          color: $primary_color;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .woocommerce-tabs {
      .tabs {
        &.wc-tabs {
          padding: 0;
          margin: 0 0 20px;
          display: block;
          width: 100%;
          clear: both;
          &:before {
            display: none;
            content: none;
          }
          li {
            margin: 0;
            padding: 0;
            border-radius: 0;
            background: none !important;
            border: none;
            &:after, &:before {
              display: none;
            }
            a {
              padding: 0;
              color: #404040;
              font-size: 18px;
              background: none;
              border: none;
              box-shadow: none;
              &:hover {
                color: $primary_color;
              }

              &:before {
                display: none;
                content: none;
              }
            }
            &.active {
              a {
                color: $primary_color;
              }
            }
            &:not(:last-child) {
              border-right: 2px solid $primary_color;
              padding-right: 10px;
              margin-right: 10px;
            }
          }
        }
      }
    }
    .woocommerce-product-gallery {
      margin-bottom: 0 !important;
      position: relative;
      .woocommerce-product-gallery__trigger {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 9;
        background: #F1F1F1;
        border: none;
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        opacity: 0.5;
      }
      .flex-control-nav {
        margin-top: 25px !important;
        list-style: none;
        padding: 0;
        display: flex;
        display: -webkit-flex;
        li {
          width: calc((100% - 10%) / 3);
          img {
            width: 100%;
            opacity: .6;
            &.flex-active {
              opacity: 1;
            }
          }
          + li {
            margin-left: 5%;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .product {
    &.type-product {
      .row {
        .product-image, .product-summary {
          width: 100%;
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
      .woocommerce-product-gallery {
        text-align: center;
      }
    }
  }
}

@media (max-width: 400px) {
  .product {
    &.type-product {
      .woocommerce-tabs {
        .tabs.wc-tabs {
          li {
            a {
              font-size: 15px;
            }
          }
        }
      }
      .woocommerce-product-gallery {
        .flex-control-nav {
          margin-top: 8px !important;

        }
      }
    }
  }
}