#page-title .container .page-title-inner .title {
  font-size: 45px;
}
#main-content-archive {
  border-bottom: 3px solid $primary-color;
}
.box-list-archive {
  display: flex;
  margin: 30px 0;
  flex-wrap: wrap;
  .item-post {
    width: calc((100% - 30px) / 3);
    margin-bottom: 15px;
    margin-right: 15px;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
.box-item-submenu-archive {
  display: flex;
  justify-content: center;
  font-family: "Roboto", "helvetica", "sans-serif" !important;
  font-size: 18px;
  font-weight: 500;
  .item-submenu-archive {
    padding: 0 7px;
    .link-submenu-archive {
      display: block;
      background-color: transparent;
      color: #101010;
      padding: 20px 25px;
      transform: skew(-40deg);
      transition: background-color 0.4s color 0.4s ease-out;
      span {
        transform: skew(40deg);
        display: inline-block;
      }
    }
    &.active, &:hover {
      .link-submenu-archive {
        color: #fff;
        background-color: $primary-color;
      }
    }
  }
}
.bg-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  img {
    visibility: hidden;
  }
}
.title-post {
  color: #101010;
  font-size: 18px;
  padding: 10px 0 0;
  font-weight: 600;
  margin-bottom: 5px;
  a {
    color: inherit;
    &:hover {
      color: $primary-color;
    }
  }
}
.item-info {
  font-size: 15px;
  font-weight: 400;
  color: #101010;
  .click-popup {
    font-size: 13px;
    margin-top: 5px;
    font-weight: 500;
    display: inline-block;
  }
}

// Intro
.box-center {
  width: 60%;
  margin: 0 auto;
}
.vc_custom_heading.title-heading.title-intro {
  h2 {
    color: #101010;
    font-size: 20px;
    position: relative;
    padding: 10px 0;
    margin-top: 20px;
    &:before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      background-color: $primary-color;
      width: 100px;
      height: 3px;
      border-radius: 3px;
    }
  }
  &.box-center {
    h2 {
      &:before {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.intro-taxonomy {
  margin-top: 30px;
}

.container-contact {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  input, select, label, textarea {
    width: 100%;
  }
  label {
    font-size: 16px;
    font-weight: 600;
  }
  input, textarea {
    margin: 10px 0;
    padding: 8px 15px;
    border-color: $primary-color;
  }
  input[type="submit"] {
    text-align: center;
  }
  i {
    color: red;
  }
  .wpcf7-not-valid-tip {
    margin-bottom: 10px;
  }
}
div.wpcf7-response-output {
  width: calc(80% - 30px);
  margin: 0 auto;
}
.box-services {
  .box-title {
    padding-top: 15px;
    padding-top: 15px;
    font-size: 24px;
    line-height: 1.5;
    font-family: "Roboto", "helvetica", "sans-serif";
  }
  .box-button {
    margin-top: 15px;
    text-align: center;
  }
}


@media ( max-width: 767px ) {
  .container-contact {
    width: 100%;
  }
  div.wpcf7-response-output {
    width: calc(100% - 30px);
  }
  .box-center {
    width: 100%;
  }
  #main-content {
    padding: 30px 0;
  }
  .vc_row-fluid.sm-pb0 {
    padding-bottom: 0px !important;
  }
  .mb-order {
    display: flex;
    flex-direction: column;
    > .wpb_column:first-child {
      order: 2;
    }
  }
  .box-item-submenu-archive {
    width: 100%;
    display: block;
    overflow: auto;
    white-space: nowrap;
    .item-submenu-archive {
      white-space: nowrap;
      display: inline-block;
    }
  }
  .box-list-archive .item-post {
    width: 100%;
    margin-right: 0;
  }
  .sm-mb20 {
    margin-bottom: 20px;
  }
}