// PAGE SHOP
.woocommerce-message {
  border-top-color: $primary_color;
  &:before {
    color: $primary_color;
  }
}
.zu-main-content {
  .woocommerce-ordering {
    select {
      min-width: 200px;
      padding: 5px 10px;
      color: $primary_color;
      border: 2px solid $primary_color;
    }
  }
  .product-list {
    .zu-product-item {
      display: flex !important;
      padding: 0 15px;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 1em !important;
      vertical-align: top;
      .zu-product-thumb {
        width: 270/570*100%;
        margin: 0;
      }
      .zu-product-meta {
        width: 285/570*100%;
        color: $primary_color;
        .zu-product-title,
        .woocommerce-loop-product__title {
          padding-top: 0;
          font-size: 18px;
          font-weight: 400;
          text-transform: uppercase;
          line-height: 1.6;
          color: $primary_color;
          a {
            color: $primary_color;
          }
        }
        .zu-woo-product-description {
          color: $color_text;
        }
        .zu-product-author-name {
          margin-bottom: .5rem;
        }
        .zu-product-action {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          font-size: 0;
          letter-spacing: 0;
        }
        .zu-product-price {
          display: inline-block;
          width: 100/285*100%;
          padding: 13px 5px 12px;
          text-align: center;
          font-size: 16px;
          color: $white;
          background: $primary_color;
        }
        .zu-add-to-cart-button {
          min-width: inherit;
          width: 170/285*100%;
          outline: none;
          color: $primary_color;
          &:hover {
            color: $white;
          }
        }
      }
    }
  }

  .woocommerce-pagination {
    .page-numbers {
      border: none;
      margin: 0;
      font-size: 0px;
      li {
        border-right: none;
        float: none;
        &:not(:first-child) {
          margin-left: 10px;
        }
        .page-numbers {
          padding: .5em .3em;
          min-width: 36px;
          font-size: 16px;
          font-weight: bold;
          color: $primary_color;
          border: 2px solid $primary_color;
          &:hover,
          &.current {
            color: $white;
            background: $primary_color;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 992px) {
    .product-list {
      .zu-product-item {
        .zu-product-meta {
          font-size: 14px;
          .zu-product-price {
            padding: 9px 5px;
            font-size: 14px;
          }
          .zu-add-to-cart-button {
            padding: 6px 5px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 767px) {

  }

  @media only screen and (max-width: 640px) {
    .product-list {
      .zu-product-item {
        width: 100% !important;
        margin: 0 0 2em !important;
      }
    }
  }
  @media only screen and (max-width: 480px) {
    .woocommerce-result-count {
      float: none;
    }
    .woocommerce-ordering {
      float: none;
      select {
        width: 100%;
      }
    }
  }
}

.woocommerce .products ul, .woocommerce ul.products {
  margin-left: -15px;
  margin-right: -15px;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  margin: 0;
  width: 50%;
  padding: 15px;
}