@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?eqlpyt');
  src:  url('fonts/icomoon.eot?eqlpyt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?eqlpyt') format('truetype'),
    url('fonts/icomoon.woff?eqlpyt') format('woff'),
    url('fonts/icomoon.svg?eqlpyt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telephone:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-google-plus:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-pinterest:before {
  content: "\e904";
}
.icon-star:before {
  content: "\e900";
}
