/*--------------------------------------------------------------
# Zu Carousel
--------------------------------------------------------------*/
.zu-carousel {
  .owl-nav {
    button {
      font-size: 35px !important;
      color: $white !important;
      width: 45px;
      height: 45px;
      line-height: 45px;
      position: absolute;
      top: 50%;
      background-color: rgba(0,0,0,0.5);
      outline: none;
      border: none;
      @include transform(translateY(-50%));
      @include transition(all 200ms ease-in-out);
      &:hover {
        background-color: $primary_color !important;
      }
      &.owl-prev {
        left: -15px;
      }
      &.owl-next {
        right: -15px;
      }
    }
  }
  .owl-dots {
    text-align: center;
    button.owl-dot {
      background: none;
      border: none;
      padding: 5px;
      span {
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 2px solid $black;
        @include border-radius(15px);
        @include transition(all 200ms ease-in-out);
      }
      &.active {
        span {
          border-color: $primary_color;
        }
      }
    }
  }
}
