.woocommerce-info {
  border-top-color: $primary_color;
  &:before {
    color: $primary_color;
  }
}
#wrapper {
  overflow: hidden;
}
#filter-result {
  width: 100%;
}
.heading-02 {
  h2 {
    position: relative;
    padding-bottom: 15px;
    color: $color_text;
    font-size: 32px;
    line-height: 1;
    text-transform: uppercase;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      height: 2px;
      width: 100%;
      max-width: 117px;
      background: $primary_color;
      transform: translateX(-50%);
    }
  }
}
.text-catch-02 {
  line-height: 1.25;
  color: $color_text;
}
.zu-product-thumb {
  overflow: hidden;
  img {
    width: 100%;
    margin: 0 !important;
    transition: $transition-default;
  }
}
.list-cat-filter {
  display: flex;
  width: 100%;
  padding-left: 0;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  list-style: none;
  .cat-item {
    width: 20%;
    max-width: 200px;
    font-size: 18px;
    a {
      display: block;
      padding: 12px 10px 11px;
      color: $color_text;
      text-transform: uppercase;
      &:hover,
      &.active {
        color: $white;
        background: $primary_color;
      }
    }
  }
}
.slide-product {
  position: relative;
  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 99;
    transform: translateY(-50%);
    cursor: pointer;
    &.slick-next {
      left: 100%;
    }
    &.slick-prev {
      right: 100%;
    }
  }
}
.zu-woocommerce-body {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
    transition: $transition-default;
  }
  &.loading {
    &:after {
      display: block;
    }
    #zu-loading {
      display: block;
      visibility: visible;
      opacity: 1;
      div {
        background: $primary_color;
      }
    }
  }
  #zu-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    -webkit-transform: translate(-50%, -75%);
    -moz-transform: translate(-50%, -75%);
    -ms-transform: translate(-50%, -75%);
    -o-transform: translate(-50%, -75%);
    transform: translate(-50%, -75%);
  }
}
.slick-dots {
  margin: 2rem 0 0;
  padding-left: 0;
  font-size: 0;
  text-align: center;
  list-style-type: none;
  li {
    display: inline-block;
    &.slick-active,
    &:hover {
      button {
        background: $secondary_color;
      }
    }
    &:not(:first-child) {
      margin-left: 10px;
    }
    button {
      width: 15px;
      height: 15px;
      padding: 0;
      outline: none;
      cursor: pointer;
      border: none;
      background: $black;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      transition: $transition-default;
    }
  }
}
.slick-arrow {
  font-size: 35px;
  color: $primary_color;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  position: absolute;
  top: 50%;
  background-color: transparent;
  outline: none;
  border: none;
  @include transform(translateY(-50%));
  @include transition(all 200ms ease-in-out);
  &:hover {
    color: $white;
    background-color: $primary_color;
  }
  //width: 20px;
  //height: 20px;
  //padding: 0;
  //text-indent: -9999px;
  //outline: none;
  //cursor: pointer;
  //background: none;
  //overflow: hidden;
  //border: 5px solid $primary_color;
  //transform: translateY(-50%) rotate(45deg);
  //&.slick-next {
  //  border-left-color: transparent;
  //  border-bottom-color: transparent;
  //}
  //&.slick-prev {
  //  border-right-color: transparent;
  //  border-top-color: transparent;
  //}
}
.zu-product-item {
  .added_to_cart {
    display: none;
  }
  .zu-product-meta {
    .zu-product-author-name,
    .zu-product-description {
      color: $color_text;
    }
    .zu-product-price {
      padding: 12px 5px 10px;
      font-size: 16px;
    }
    .zu-product-author-name {
      .author-link {
        @include transition(.3s);
        &:hover {
          text-decoration: underline;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .zu-add-to-cart-button {
      box-shadow: none !important;
    }
  }
}
@media only screen and (max-width: 1100px) {
  .slide-product {
    .slick-arrow {
      &.slick-prev {
        right: 98%;
      }
      &.slick-next {
        left: 98%;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .slide-product {
    .slick-arrow {
      display: none !important;
    }
  }
  .list-cat-filter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 0;
    .cat-item {
      width: inherit;
      margin: inherit;
      margin-bottom: 0;
      a {
        padding: 12px 8px 11px;
      }
    }
  }
  .zu-product-item {
    .zu-product-meta {
      .zu-product-author-name,
      .zu-product-description {
        font-size: 14px;
      }
      .zu-product-price {
        padding: 10px 5px 9px;
        font-size: 14px;
      }
      .zu-add-to-cart-button {
        padding: 8px 3px 7px;
        font-size: 14px;
        min-width: inherit;
      }
    }
  }
}
@media only screen and (max-width: 640px) {
  .zu-product-item {
    .zu-product-meta {
      .zu-product-title {
        margin-bottom: .2rem;
      }
      .zu-product-author-name,
      .zu-product-description {
        margin-bottom: .3rem;
        font-size: 14px;
      }
    }
  }
}
@media only screen and (max-width: 480px) {

}
@media only screen and (max-width: 375px) {
  .list-cat-filter {
    .cat-item {
      font-size: 14px;
      a {
        padding: 10px 6px 9px;
      }
    }
  }
}
/**
Zu-Woocommerce style default
================================
 */
.zu-woocommerce-layout-style-default {
  .zu-product-item {
    margin-top: 75px;
    vertical-align: top;
    .zu-product-thumb {
      width: 270/570*100%;
      margin: 0;
    }
    .zu-product-meta {
      width: 285/570*100%;
      color: $primary_color;
      .zu-product-title {
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 1.6;
        a {
          color: $primary_color;
        }
      }
      .zu-product-author-name {
        margin-bottom: .5rem;
      }
      .zu-product-action {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        font-size: 0;
        letter-spacing: 0;
      }
      .zu-product-price {
        display: inline-block;
        width: 100/285*100%;
        text-align: center;
        color: $white;
        background: $primary_color;
      }
      .zu-add-to-cart-button {
        width: 170/285*100%;
        outline: none;
        color: $primary_color;
        &:hover {
          color: $white;
        }
      }
    }
  }
  .slide-product {
    position: relative;
    .slick-slide {
      > div {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .zu-product-item {
          display: flex !important;
          padding: 0 15px;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .zu-woocommerce-layout-style-default {
    .zu-product-item {
      margin-top: 50px;
    }
  }
}
/**
================================
End Zu-Woocommerce style default
================================
 */

/**
================================
Zu-Woocommerce Style 02
================================
 */
.zu-woocommerce-layout-style-02 {
  position: relative;
  padding-top: 70px;
  .list-cat-filter {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 100%;
    margin-bottom: 0;
  }
  .zu-woocommerce-body {
    &:after {
      background: $color_03;
    }
    &.loading {
      #zu-loading {
        div {
          background: $white;
        }
      }
    }
  }
  .slide-product {
    .slick-arrow {
      margin-top: -15px;
      color: $white;
      &:hover {
        color: $black;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .slide-product {
      .slick-arrow {
        &.slick-prev {
          -webkit-transform: translate(80%, -50%);
          -moz-transform: translate(80%, -50%);
          -ms-transform: translate(80%, -50%);
          -o-transform: translate(80%, -50%);
          transform: translate(80%, -50%);
        }
        &.slick-next {
          -webkit-transform: translate(-80%, -50%);
          -moz-transform: translate(-80%, -50%);
          -ms-transform: translate(-80%, -50%);
          -o-transform: translate(-80%, -50%);
          transform: translate(-80%, -50%);
        }
      }
    }
  }
}

.zu-product-item-style-02 {
  position: relative;
  padding: 0 15px;
  vertical-align: top;
  margin-bottom: 30px;
  transition: .3s;
  &:hover {
    .zu-product-meta {
      z-index: 3;
      opacity: 1;
      .zu-product-title,
      .zu-product-description,
      .zu-add-to-cart-button {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
      }
    }
  }
  .zu-product-thumb {
    margin-bottom: 0;
  }
  .zu-product-meta {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: calc(100% - 30px);
    height: 100%;
    padding: 10px;
    color: $white;
    background: $color_03;
    opacity: 0;
    transform: translateX(-50%);
    transition: .3s;
    .zu-product-title {
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      a {
        color: $primary_color;
      }
    }
    .added_to_cart {
      display: none;
    }
    .zu-product-title,
    .zu-product-description,
    .zu-add-to-cart-button {
      opacity: 0;
      -webkit-transform: translateY(40px);
      -moz-transform: translateY(40px);
      -ms-transform: translateY(40px);
      -o-transform: translateY(40px);
      transform: translateY(40px);
      box-shadow: none !important;
    }
    .zu-product-title {
      transition: .3s;
    }
    .zu-product-description {
      transition: .5s;
    }
    .zu-add-to-cart-button {
      transition: .7s;
      color: $white;
      &:hover {
        color: black;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .zu-product-thumb {
      img {
        width: 100%;
      }
    }
    .zu-product-meta {
      padding: 5px;
      .zu-product-title {
        margin-bottom: 0;
      }
      .zu-product-description {
        margin-bottom: .5rem;
        font-size: 14px;
        line-height: 1.3;
      }
      .zu-add-to-cart-button {
        padding: 6px 10px;
        min-width: inherit;
        font-size: 14px;
      }
    }
  }
  @media only screen and (max-width: 640px) {

  }
}



/**
================================
End Zu-Woocommerce Style 02
================================
 */
