.btn,
.button {
  border: none;
  border-radius: 0;
  min-width: 170px;
  text-align: center;
  background: transparent;
  outline: none;
  position: relative;
  color: $white;
  z-index: 1;
  padding: 10px;
  text-transform: uppercase;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    background: $primary_color;
    transition: $transition-default;
  }
  &:hover {
    color: $white;
    border-color: $secondary_color;
    background: transparent;
    &:after {
      width: 100%;
    }
  }
}

.btn-primary {
  background: $secondary_color;
  color: $white;
  &:after {
    background: $primary_color;
  }
  &:hover {
    background: $secondary_color;
  }
}

.btn-transparent {
  color: $color_text;
  border: 2px solid $primary_color;
  background: transparent;
  padding: 8px 10px;
  &:hover {
    color: $white;
    border-color: $primary_color;
    &:after {
      width: 100%;
    }
  }
}

.btn-default {
  color: $color_text;
  border: 2px solid $primary_color;
  background: transparent;
  padding: 8px 10px;
  &:hover {
    color: $white;
    border-color: $primary_color;
    &:after {
      width: 100%;
    }
  }
}

.btn-full {
  width: 100%;
}
