// position
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

// display
.display-table {
  display: table;
  width: 100%;
  height: 100%;

  .display-table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}

// background
.background-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.overlay-dark {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    opacity: .5;
    background-color: $black;
  }
}

// visibility
.hide {
  display: none;
  visibility: hidden;
}

.show {
  display: inline-block;
  visibility: visible;
}

.vc_row.vc_column-no-gap {
  margin-left:0;
  margin-right:0;
}
.vc_row.vc_column-no-gap .vc_column_container > .vc_column-inner {
  padding-left:0;
  padding-right:0;
}

.vc_section {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.page {
  .vc_section.vc_section-has-fill, 
  .vc_section.vc_section-has-fill+.vc_row-full-width+.vc_section, 
  .vc_section.vc_section-has-fill+.vc_section {
    padding-top: 0;
  }
}

.hover-scale {
  overflow: hidden;
  &:hover {
    img {
      transform: scale(1.2);
    }
  }
  figure,
  .zu-product-thumb,
  .item-image {
    overflow: hidden;
  }
  img {
    @include transition(.3s)
  }
}

