body {
  font-family: "Roboto";
  label {
    font-weight: 400;
  }
  input, textarea, select {
    outline: none;
    font-size: 14px;
    line-height: 24px;
    color: #444444;
    background-color: transparent;
    border: 1px solid #ececec;
    margin-bottom: 30px;
    padding: 12px 20px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    &:hover, &:focus {
      border-color: #dcdcdc;
    }
  }
  select {
    background-image: url("../images/downwards-pointer.png");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center right 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .input-submit {
    display: inline-block;
    padding: 12px 30px;
    outline: none;
    text-align: center;
    background-color: transparent;
    border: 0;
  }
  input[type="submit"] {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: $primary_color;
    color: #ffffff;
    padding: 12px 30px;
    outline: none;
    &:hover, &:focus, &:active {
      background-color: darken($primary_color, 10);
      color: #ffffff;
    }
  }

  textarea {
    resize: none;
    min-height: 180px;
    margin-bottom: 30px;
  }

  .placeholder {
    color: #444444;
  }

  ::-webkit-input-placeholder {
    color: #444444;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #444444;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #444444;
  }

  :-ms-input-placeholder {
    color: #454545;
  }

}
