// responsive embeds
.video-container,
figure.wp-block-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// images
img {
  &, &.img-responsive {
    width: auto;
    max-width: 100%;
    height: auto;
  }
}
