body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $body_bg;
  font-family: 'Helvetica Neue',Arial,sans-serif;
}

// Headings
h1,
.h1 {
  @include font-size(40px);

  @media (max-width: #{$sm}) {
    @include font-size(26px);
  }
}

h2,
.h2 {
  @include font-size(26px, 32px, 0.36px);

  @media (max-width: #{$sm}) {
    @include font-size(20px, 24px, 0.36px);
  }
}

h3,
.h3 {
  @include font-size(22px, 27px, 0.3px);

  @media (max-width: #{$sm}) {
    @include font-size(18px, 22px, 0.3px);
  }
}

h4,
.h4 {
  @include font-size(20px, 26px);

  @media (max-width: #{$sm}) {
    @include font-size(15px, 20px);
  }
}

h5,
.h5 {
  @include font-size(18px);

  @media (max-width: #{$sm}) {
    @include font-size(15px);
  }
}

small,
.small {
  @include font-size(15px, 20px, 0.28px);
}

// alignments
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

// Modifiers
.text-bold {
  font-weight: 700;
}

.text-semibold {
  font-weight: 600;
}

.text-uppercase {
  text-transform: uppercase;
}

.no-line-height {
  line-height: 1em !important;
}

a {
  color: $primary_color;
  &:hover {
    color: $secondary_color;
  }
}

#main-content {
  padding: 60px 0;
}

.zu-main-content {
  .wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li {
    margin-bottom: 0;
  }
}

